* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

header {
    background-image: url('../img/Sections_background/section-1\(header\).jpg');
    background-attachment: fixed;
    background-size: cover;
    min-width: 1200px;
    min-height: 1012px;
    text-align: center;
}

.container_nav {
    background-color: rgba(94, 93, 88, 0.6);
    min-width: 1200px;
}

.nav {
    width: 1160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.nav_logo {
    margin-right: 305px;
}

.nav_list {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    list-style: none;
    text-align: right;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    max-width: 750px;
    padding-left: 0px;
    display: flex;
    margin-right: 21px;
}

.nav_list li:not(:last-child) {
    margin-right: 21px;
}

.nav_list a {
    text-decoration: none;
    position: relative;
    color: rgba(255, 255, 255, 0.6);
}

.nav_list a:hover {
    color: #18CFAB;
}

.nav_list a:hover::after {
    content: "";
    position: absolute;
    display: block;
    background: #18CFAB;
    width: 100%;
    height: 2px;
    top: 71px;
    left: 51%;
    transform: translateX(-50%);
}

.header_title {
    margin-top: 264px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 1px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header_title>span {
    color: #18CFAB;
}

.header_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 73px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header_subtext {
    margin-bottom: 122px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 1px;
    color: #D4D4D4;
}

.container_btn {
    margin-top: 129px;
}

.container_btn button {
    margin-right: 26px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 169px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 26px;
    border: none;
    border-radius: 8px;
    border-top: 4px solid #FFFFFF;
}

.header_btn_green {
    background-color: #18CFAB;
}

.header_btn_blue {
    background-color: #00CBF6;
}

main {
    min-width: 1200px;
}

.container_features {
    margin: 0 auto;
}

.features_list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    width: 100vw;
    height: 377px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0;
}

.item_black {
    background-color: #1C2A33;
    color: #18CFAB;
}

.item_green {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.features_list li {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.features_list img {
    display: block;
}

.features_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 110px;
}

.container_services {
    width: 1160px;
    margin: 0 auto;
}

.title {
    color: #4E4E4E;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    padding-top: 90px;
    margin-bottom: 100px;
    position: relative;
}

.title::before {
    content: "";
    position: absolute;
    display: block;
    background: #18CFAB;
    width: 75px;
    height: 0.5px;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
}

.title::after {
    content: "";
    position: absolute;
    display: block;
    background: #18CFAB;
    width: 75px;
    height: 0.5px;
    top: 168px;
    left: 52%;
    transform: translateX(-50%);
}

.services_list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F8FCFE;
}

.services_item {
    display: block;
    width: 193px;
    height: 72px;
    padding-top: 15px;
    border: 1px solid #F2F2F2;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
}

.services_item:hover {
    border: 2px solid #18CFAB;
    cursor: default;
}

.services_item.active {
    background-color: #18CFAB;
    color: #FFFFFF;
    position: relative;
}

.services_item.active::after {
    content: '';
    position: absolute;
    left: 80px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #18CFAB;
}

.services_content:not([data-active-content]) {
    display: none;
}

.services_content {
    display: flex;
    gap: 15px;
    margin-top: 23px;
    height: 139px;
}

.services_content img {
    width: 192px;
    height: 139px;
}

.services_text {
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13.6px;
    line-height: 24px;
    color: #777777;
}

.container_purchase {
    margin-top: 90px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/Sections_background/section-2.jpg');
    background-size: cover;
    min-width: 1200px;
    height: 477px;
    text-align: center;
}

.purchase_title {
    padding-top: 126px;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}

.purchase_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-top: 12px;
}

.purchase_btn {
    margin-top: 52px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 169px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 26px;
    border: none;
    border-radius: 8px;
    border-top: 4px solid #FFFFFF;
    background: #18CFAB;
}

.container_work {
    background: #E9EDEF;
    text-align: center;
}

.work_list {
    width: 608px;
    list-style: none;
    margin: 0 auto;
    margin-top: 97px;
    padding: 0px;
    display: flex;
}

.work_item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    align-items: center;
    color: #717171;
    padding: 14px 15px;
    border: 1px solid #DADADA;
}

.work_item:first-child {
    padding-right: 28px;
    padding-left: 28px;
}

.work_item.active {
    border: 2.5px solid #18CFAB;
    color: #18CFAB;
}

.work_item:hover {
    cursor: default;
}

.work_gallery {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    padding-bottom: 70px;
}

.work_gallery_item {
    position: relative;
    height: 206px;
}

.work_gallery_item:hover .hover_design {
    display: flex;
}

.hover_design {
    border-top: 2px solid #18CFAB;
    flex-direction: column;
    position: absolute;
    position: 0;
    z-index: 1;
    top: 0;
    display: none;
    background-color: #E9EDEF;
    width: 284px;
    height: 206px;
}
.hover_design>img {
    margin: 0 auto;
    margin-top: 40px;
    width: 88px;
    height: 43px;
}
.hover_title {
    margin: 0;
    margin-top: 31px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}
.hover_text {
    margin-top: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
}

.load_btn {
    margin-bottom: 100px;
    background-color: #18CFAB;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 169px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 45px;
    border: none;
    border-radius: 8px;
    justify-content: center;
    position: relative;
}

.load_btn::before {
    position: absolute;
    content: url('../img/Forma\ 1.svg');
    top: 18px;
    left: 23px;
}

.container_news {
    width: 1160px;
    align-items: center;
    margin: 0 auto;
}

.news_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 35px;
    row-gap: 45px;
    margin-bottom: 130px;
}

.news_item {
    position: relative;
}

.news_item .green_block {
    display: flex;
}

.green_block {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    position: 0;
    z-index: 1;
    top: -16px;
    right: 2px;
    background-color: #203E38;
    width: 66px;
    height: 66px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.news_item:hover {
    background-color: #f8fcfe;
}

.news_item:hover .green_block {
    background-color: #18CFAB;
}

.news_item:hover h3 {
    color: #18CFAB;
}

.news_subtitle {
    margin: 0;
    padding-left: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #717171;
}

.news_text {
    margin: 0;
    padding-left: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    display: flex;
    color: #777777;
}

.container_about {
    background-image: url('../img/Sections_background/section-3.jpg');
    background-size: cover;
    min-width: 1200px;
    min-height: 854px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_about>img {
    display: block;
    margin-bottom: 37px;
}

.about_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    padding-top: 98px;
    padding-bottom: 100px;
}

.selected_person {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected_person:not([data-active-person]) {
    display: none;
}

.about_text {
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
}

.name {
    margin: 0;
    margin-top: 37px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18cfab;
}

.profession {
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #BBBBBB;
}

.selected_person img {
    margin-top: 30px;
    width: 160px;
    height: 160px ;
    border-radius: 50%;
    border: 10px solid rgba(24, 207, 171, 0.3);
} 


.itc-slider__wrapper {
    max-width: 350px;
    margin-top: 57px;
    margin-bottom: 100px;
}

.itc-slider__items {
    align-items: flex-end;
}

.itc-slider__item {
    flex: 0 0 25%!important;
}

.itc-slider__item.active {
    margin-bottom: 20px;
}

.itc-slider__item img {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    border: 5px solid rgba(24, 207, 171, 0.3); 
}

.itc-slider__btn {
    top: 45%!important;
    border: 1px solid #a1a1a1!important;
    width: 30px!important;
    height: 30px!important;
    background: none!important;
    cursor: default!important;
}

.itc-slider__btn:hover {
    background: #1FDAB5!important;
    border: none!important;
}

.itc-slider__btn_prev {
    left: -70px!important;
    
}

.itc-slider__btn_next {
    right: -60px!important;
}

.container_gallery {
    text-align: center;
}

.gallery_section {
    width: 1160px;
    margin: 0 auto;
    margin-top: 115px;
}

.gallery_section {
    display: flex;
    gap: 20px;
}

.section {
    display: block;
    margin-bottom: 20px;
}

.inner_section {
    display: flex;
    gap: 3px;
    position: relative;
}

.inner_section_item:hover .hover_section {
    display: flex;
}

.hover_section {
    align-items: center;
    position: absolute;
    position: 0;
    z-index: 1;
    top: 0;
    display: none;
    background: rgba(0, 0, 0, 0.64);;
    width: 180px;
    height: 168px;
}

.hover_section img {
    width: 27px;
    height: 25px;
    margin-left: 22px;
}

.second_inner_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3px;
}

.second_inner_section_item>img {
    width: 118px;
    height: 92px;
}

.second_inner_section_item {
    position: relative;
}

.second_inner_section_item:hover .second_hover_section {
    display: flex;
}

.second_hover_section {
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 0;
    display: none;
    background: rgba(0, 0, 0, 0.64);;
    width: 118px;
    height: 92px;
}

.second_hover_section>img {
    width: 27px;
    height: 25px;
    margin-left: 22px;
} 

footer {
    background-color: #22353F;
    min-width: 1200px;
    height: 121px;
}

.footer_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #AEAEAE;
    padding-top: 48px;
}

.footer_text span {
    color: #18CFAB;
}